* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(186, 184, 184);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header {
  background-color: lightcyan;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight:bolder;
  font-size: larger;
  padding-bottom: 10px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background-color: bisque;
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer {
  background-color: coral;
  height: 50px;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
} 

article a {
  background-color: rgb(186, 184, 184);
}